 
 
 
 a {
  color: #809fff;
} 
 
     body {

        background: whitesmoke!important;
        
      }
 



/* The device with borders */
.smartphone {
/*      transform: rotate(90deg);*/
  position: fixed;
  width: 340px;
  height: 600px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 80px;
  border-radius: 36px;
  margin-left: 500px;
  top: 20px;
      
box-shadow: 0 2px 2px rgba(0, 0, 0, 1.04), 0 12px 12px rgba(0, 0, 0, 1.04);
}

/* The horizontal line on the top of the device */
.smartphone:before {border: 3px whitesmoke solid;
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}
 
/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-top-color: red solid 3px;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 340px;
  height: 600px;
  background: #fef6ec;

}
.smartphone .content:hover {
  width: 340px;
  height: 600px;
  background: white;
}

.Device-type.Shell .home{border-radius:100%;width:56px;height:56px;position:absolute;left:50%;margin-left:-34px;bottom:-64px;z-index:3;background:#303233;background:linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%)}
.Device-type.Shell .home:before{background:black;position:absolute;content:'';border-radius:100%;width:calc(100% - 8px);height:calc(100% - 8px);top:4px;left:4px}
 
html {
  height: 100%;
}
 
 
 
 footer{
  position: fixed;
  bottom: 25px;

 }
 .credits{   

  font: 300 18px/1.5 Merriweather, serif;

 }

 .name{
  font-family:"Lato", sans-serif;
  text-decoration: none;
}


          .btn { 
            cursor: pointer; 
            border: 1px solid #3498db; 
            background-color: transparent; 
            height: 50px; 
            width: 200px; 
            color: #3498db; 
            font-size: 1.5em; 
 
            border-radius: 12px 12px 12px 12px;
            margin-left: 127px;
            margin-top: 345px;
        } 

                  .btn:hover { 
 
            border: 1px solid pink; 
 
            color: green; 
 
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
 
        } 


        .git{

          background-color: #24292e;
          color: white;
          font-weight: bold;
          padding-top: 9px;
          padding-left: 6px;
          padding-right: 6px;
          border-radius: 0 0 12px 12px;
          margin-left: 998px;
          top: 0px;
          position: absolute;
        }


        .git:hover{

          background-color: whitesmoke;
          color: #24292e;
        }

  .gitacr
               {
                  color: white;
                  text-decoration: none;
               }
  .gitacr:hover
               {
                  color: #24292e; 
 
              }
